/* 
 1-common thouht Styles
 2-common styles
 3-section
    3.0 header section
    3.1 Home section
    3.2 About section
    3.3
    3.4
    3.5
    3.6
    3.7
    3.8 Footer section
 */


/*   1-common Styles
    -container
    -overlay
    -opacity haver
    -section header
    -section padding
    -haver effect 1(left to right)
    -haver effect 1(top to bottom)
 */

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
}


/* 2-common styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*css3*/
}

.container {
    width: 80%;
    margin: auto;
}

body {
    font-family: "Varela Round", sans-serif;
}

.clear {
    clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

button {
    font-family: inherit;
}

.section-header {
    text-align: center;
    margin-bottom: 20px;
}

.section-title {
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.section-header .line {
    display: block;
    height: 2px;
    width: 350px;
    background-color: blue;
    margin: 0 auto 70px auto;
}

.pd-y {
    padding: 240px 0;
}

.ltreffect {
    position: relative;
}

.ltreffect:after {
    position: absolute;
    content: "";
    background: black;
    opacity: 0.1;
    width: 0;
    top: 0;
    bottom: 0;
    left: 0;
    top: 0;
}

.ltreffect:hover:after {
    width: 100%;
}


/*   3-section*/


/*  3.0 header section*/

.header {
    background: gray;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.header .logo {
    width: 40%;
    /*background: red;*/
    float: left;
    
}

.header .logo img {
    width: 20%;
    margin-top: 15px;
    background: black;
}

.header .nav {
    width: 60%;
    /*background: green;*/
    float: left;
    list-style: none;
}

.header .nav>li {
    display: inline-block;
}

.header .nav>li>a {
    color: #fff;
    text-decoration: none;
    padding: 30px 12px;
    display: block;
}

.header .nav>li>a.active:after,
.header .nav>li>a:after {
    content: "";
    display: block;
    height: 5px;
    background: blue;
    margin-top: 2px;
}

.header .nav>li>a:active:after {
    width: 100%;
}

.header .nav>li>a:after {
    width: 0;
}


/*   3.1 Home section --------------------------------------------------------*/

.home {
    height: 100vh;
    background-image: url(..//images/background/background1.webp);
    background-position: cover;
    position: relative;
}

.home .home-content {
    /*background: green;*/
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
}

.home .title {
    color: #fff;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.home .home-desc {
    margin: 30px 0;
    color: #fff;
    letter-spacing: 2px;
    line-height: 1.5;
}

.home .btn {
    min-width: 160px;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    font-size: 18px;
}

.home .btn-start {
    margin-right: 30px;
    background: #fff;
}

.home .btn-learn {
    background: #6195ff;
    color: #fff;
}

.home .hover-opacity:hover {
    opacity: 0.5;
}

.home .hover-opacity {
    transition: opacity 0.5s;
}

.dropdown-menu {
    position: absolute;
}


/*   3.2 About section  */

.about {
    background-color: #e7e8eb;
}

.about .about-content {
    overflow: hidden;
}

.about-item {
    width: 30%;
    float: left;
    text-align: center;
    border: 1px solid #6195ff;
    padding: 50px 20px;
}

.about-item:hover .about-item-title {
    color: #6195ff;
}

.about-item.mg {
    margin: 0 0.5%;
}

.about-item .icon {
    color: #6195ff;
    margin-bottom: 10px;
}

.about-item-title {
    text-transform: capitalize;
    margin-bottom: 10px;
    transition: color 0.5s;
}

.about-item-desc {
    line-height: 1.6;
    margin-bottom: 10px;
    color: #999;
    text-transform: capitalize;
}

.about-item-link {
    color: rgb(55, 100, 255);
    text-transform: capitalize;
}